.background{
  background-color: #ffffff;
  min-height: 100vh;
  width: 100%;

}
h4{
  color: black;
}
label{
  color:black;
}

.journal-image{
  border: 1px solid #555;
}
.overview-text{
  text-align: justify
}
