<div class = "background container-fluid" >

  <br>
  <br>
  <div class="mt-5 ms-5 mb-5">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../../../../assets/images/roulette1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../../../../assets/images/roulette2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../../../../assets/images/roulette3.png" class="d-block w-100 " alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>



  <div class=" row mt-5 ms-5 mb-5">
    <div class="col-sm-4 pe-5">
      <img src="../../../../../../assets/images/magazine.jpg"
           class="img-fluid magazine-image mt-5 me-5 mb-5 journal-image"
           alt="...">
    </div>
    <div class="col-sm-7">
      <h4 class="mt-5 me-5" style="min-width: 350px">
        {{'about_journal_title' | translate}}
      </h4>
      <label class="mt-5 mb-5 me-5 overview-text" style="min-width: 350px">
        {{'about_journal_text' | translate}}
      </label>
    </div>
    <br>
  </div>
  <br>
</div>
