<div class = "background container-fluid" >
  <div class=" row mt-5 ms-5 mb-5">
    <div class="col-sm-4 pe-5">
      <img src="../../../../../../assets/images/magazine.jpg"
           class="img-fluid magazine-image mt-5 me-5 mb-5"
           alt="...">
    </div>
    <div class="col-sm-7">
      <h4 class="mt-5 me-5" style="min-width: 350px">
        О ЖУРНАЛЕ Известия "КГТУ им. И. Раззакова"
      </h4>
      <label class="mt-5 mb-5 me-5" style="min-width: 350px">
        Научный журнал "Известия Кыргызского государственного технического университета им. И. Раззакова" издается 4 раза в год

        Свидетельство о регистрации №925 от 19 января 2004 г.

        Учредитель: Кыргызский государственный технический университет им. И. Раззакова

        Главный редактор: Чыныбаев М.К. ректор КГТУ им. и. Раззакова

        ISSN - 1694-8335 (печатная версия)

        ISSN - 1694-8343 (электронная версия)

        Язык издания: кыргызский, русский, английский

        Територия распространиения: Кыргызская Республика и зарубежные страны

        Журнал включен в перечень изданий утвержденных ВАК Кыргызской Республики для опубликования основных результатов кандидатских и докторских диссертационных исследований по естественно-техническим отраслям науки.
      </label>
    </div>
    <br>
  </div>
  <br>
</div>
