
<body class="background">
<div class = "container pt-5 pb-5" >

  <br>
  <br>
  <div class="mt-2">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../../../../assets/images/categories/{{locale}}/Монтажная%20область%201.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item ">
          <img src="../../../../../../assets/images/categories/{{locale}}/Монтажная%20область%202.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../../../../assets/images/categories/{{locale}}/Монтажная%20область%203.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>



  <div class=" row mt-2 mb-5">
    <div class="col-sm-3">
      <img src="../../../../../../assets/images/magazine.jpeg"
           class="img-fluid magazine-image mt-5 mb-5 journal-image"
           alt="...">
    </div>
    <div class="col-sm-9">
      <h4 class="mt-5" style="min-width: 250px">
        {{'about_journal_title' | translate}}
      </h4>
      <label class="mt-5 mb-5 overview-text" style="min-width: 250px">
        {{'about_journal_text' | translate}}
      </label>
    </div>
    <br>
  </div>
  <br>
</div>

</body>


