<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
  xmlns="http://www.w3.org/1999/html"/>

<body>
<div class="container pt-5 pb-5">
  <div class = "col-lg-6 col-md-offset-1 pt-5">

    <h1>{{'articles' | translate}}</h1>

    <!-- Search box -->
    <label class = "mt-2">{{"search" | translate}}</label>
    <div class="input-group w-75 mt-0 mb-2" >
      <input
        type="search"
        class="form-control"
        [formControl]="searchInput"
        (change)="onSearchChange()"
        placeholder="{{'articles_search_options' | translate}}" >
      <button class="btn btn-primary" type="button" id="button-search">
        <i class="bi bi-search"></i>
      </button>
    </div>

    <!-- Journal select -->
    <div class="form-group">
      <select class="form-control"
              [(ngModel)]="currentJournal"
              name="category-select"
              (ngModelChange)="onJournalChanged($event)"
              id="journal"
              required
      >
        <option [ngValue]="null"
                [selected]="currentJournal == null"
        >{{"in_all_journals" | translate}}</option>
        <option *ngFor="let journal of journalList"
                [selected]="currentJournal?.id == journal.id"
                [ngValue]="journal">
          {{journal.name+' '+ journal.version}}
        </option>
      </select>
    </div>
    <div *ngIf="modelPage.content.length ==0" class="text-center">
      <i class="bi bi-search icon-not-found"></i>
      <h3>{{'not_found' | translate}}</h3>
    </div>
    <!-- articles -->
    <br>
    <div *ngFor="let i = index; let model of modelPage.content | paginate :{
      itemsPerPage: 10,
      currentPage : modelPage.number+1,
      totalItems: modelPage.totalElements
      }">


      <div class="" id="h{{model.id}}" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+model.id" aria-expanded="false">
        <h5 class="">
          {{model.name}}
        </h5>
        <label><strong>{{'authors' | translate}}:&nbsp;</strong></label>
        <label class="authors-label">{{formatAuthors(model.authors)}}</label>
        <br>

        <div></div>
      </div>

      <!-- article body -->
      <div [attr.id]="'collapse'+model.id" class="collapse mt-3" >
        <label class="mt-2"><strong>{{'category' | translate}}:&nbsp;</strong>{{model.category?.name || "no_category"}}</label>
        <br>
        <label><strong>{{'annotation' | translate}}:</strong></label>
        <label class="ms-2 annotation-text">{{model.annotation}}</label>
        <label class="mt-2"><strong>{{'tags' | translate}}:&nbsp;</strong>
          <label style="text-align: justify">{{model.tags}}</label>
        </label>
        <br>

        <div class="d-flex justify-content-end">
          <a class="btn btn-primary btn-sm" href="{{FileApi.paths.download+model.pdfDoc}}" download>{{ 'download' | translate }}</a>

        </div>
      </div>
      <!-- end of article body -->
      <hr>
    </div>
    <div class="w-100 mt-4"></div>
    <!-- Pagination box -->
    <pagination-controls
      class="pagination-c mt-3"
      (pageChange)="onPageChange($event)"
      previousLabel="{{'previous' | translate}}"
      nextLabel="{{'next' | translate}}"
    ></pagination-controls>
  </div>
</div>
</body>


