

<body>
<div class="wrapper container pt-5">
  <h2 class="mt-5">{{'login' | translate}}</h2>
  <div class = "col-lg-6 col-md-offset-1 mb-5">
    <div class="alert alert-success" role="alert"
         *ngIf="isInfoRegistered()"
    >
      <h4 class="alert-heading">{{'successful_registration_message' | translate}}</h4>
      <p>{{'can_login_message' | translate}}</p>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="errorParam.includes('error')">
      <h4 class="alert-heading">{{'error' | translate}}</h4>
      <p>{{errorParam}}</p>
    </div>
    <form class="needs-validation" novalidate [formGroup]="formGroup.formGroup" (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label class="control-label" for="email"> {{'email' | translate}} </label>
        <input type="text"
               id="email"
               class="form-control"
               [formControl]="formGroup.email"
               placeholder="{{'enter_email' | translate}}"
               required autofocus="autofocus" />
        <div *ngIf="checkFormControl(formGroup.email)"
             class="alert-danger">

          <div *ngIf="formGroup.email.errors?.['required']">
            {{'enter_email' | translate}}
          </div>
          <div *ngIf="formGroup.email.errors?.['email']">
            {{'enter_email' | translate}}
          </div>

        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="password"> {{'password' | translate}} </label>
        <input type="password"
               id="password"
               class="form-control"
               [formControl]="formGroup.password"
               placeholder="{{'enter_password' | translate}}"
               required autofocus="autofocus" />
        <div *ngIf="checkFormControl(formGroup.password)"
             class="alert-danger">

          <div *ngIf="formGroup.password.errors?.['required']">
            {{'enter_password' | translate}}
          </div>

        </div>
      </div>
      <div class="form-group">
        <span>{{'forgot_password' | translate}} <a routerLink="/user/reset_password">{{'reset_password' | translate}}</a></span>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 mt-3">
            <input type="submit" name="login-submit" id="login-submit"
                   class="form-control btn btn-primary" value="{{'login' | translate}}" />
          </div>
        </div>
      </div>
    </form>

    <div class="form-group mb-5">
      <span>{{'new_user' | translate}} <a routerLink="/register">{{'registration' | translate}}</a></span>
    </div>
  </div>
  <br>

</div>



</body>
