
<body>
<div class="wrapper container pt-5">
  <h2 class="mt-5">{{'category_update' | translate}}</h2>
  <div class = "col-lg-6 col-md-offset-1 mb-5">
    <form class="needs-validation">

      <!-- Select input language   radio-buttons -->
      <label class = "mt-2">{{'enter_data_in_languages' | translate}}</label>
      <br>
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <div *ngFor="let lang of form.requiredLangs" >
          <input
            [value]="lang"
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio{{lang}}"
            (change)="onLangChange(lang)"
            autocomplete="off"
            [checked]="selectedRadioButton===lang"
          >
          <label class="btn btn-outline-primary" for="btnradio{{lang}}">&emsp;{{lang}}&emsp;</label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="name"> {{'name' | translate}} </label>
        <textarea type="text"
                  id="name"
                  class="form-control"
                  [formControl]="form.name"
                  placeholder="{{'enter_name' | translate}}"
                  required autofocus="autofocus"></textarea>
        <div *ngIf="checkFormControl(form.name)"
             class="alert-danger">

          <div *ngIf="form.name.errors?.['required']">
            {{'enter_name' | translate}}
          </div>

        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="overview"> {{'overview' | translate}}</label>
        <textarea type="text"
                  id="overview"
                  class="form-control"
                  [formControl]="form.overview"
                  placeholder="{{'enter_overview' | translate}}"
                  required autofocus="autofocus" ></textarea>
        <div *ngIf="checkFormControl(form.overview)"
             class="alert-danger">

          <div *ngIf="form.overview.errors?.['required']">
            {{'enter_overview' | translate}}
          </div>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="sum"> {{'sum' | translate}}</label>
        <textarea type="text"
                  id="sum"
                  class="form-control"
                  [formControl]="form.sum"
                  placeholder="{{'enter_overview' | translate}}"
                  required autofocus="autofocus" ></textarea>
        <div *ngIf="checkFormControl(form.sum)"
             class="alert-danger">

          <div *ngIf="form.sum.errors?.['required']">
            {{'enter_sum' | translate}}
          </div>

        </div>
      </div>

      <div class="form-group">
        <div class="mt-4">
          <button type="button" name="login-submit" id="login-submit"
                  class="form-control btn btn-primary btn-sm w-25" (click)="onSubmit()" > {{'update' | translate}} </button>
          <button type = "button" class= "btn btn-outline-primary btn-sm w-25 ms-3"
                  (click)="onCancelClicked()">{{'cancel' | translate}}</button>
        </div>
      </div>

    </form>
  </div>
  <br>
</div>
</body>
