<body class="background">
<div class="container pt-5 pb-5">
  <h2 id="header-text" class="pt-5">{{'magazine_name' | translate}}</h2>
  <div class="row list-items mb-5">
    <div class="col-3 pe-3 pt-5">
      <h3>{{'contacts' | translate}}</h3>
      <div class="bar"></div>
      <ul class="mt-4">
        <li><a>+996 550 181 550</a></li>
        <li><a>0312 550 550</a></li>
        <li><a>konzerra@gmail.com</a></li>

      </ul>
    </div>
    <div class="col-3 pe-3 pt-5">
      <h3>{{'address' | translate}}</h3>
      <div class="bar"></div>
      <ul class="mt-4">
        <li><a>{{'address_destination' | translate}}</a></li>
      </ul>
    </div>
    <div class="col-3 pe-3 pt-5">
      <h3>{{'additional' | translate}}</h3>
      <div class="bar"></div>
      <ul class="mt-4">
        <li><a>{{'about_magazine' | translate}}</a></li>
        <li><a>{{'publication_ethics' | translate}}</a></li>
        <li><a>{{'working_stuff' | translate}}</a></li>
      </ul>
    </div>
    <div class="w-100"></div>

    <div class="col-3 pe-3 pt-5">
      <img src="../../../../../../assets/images/logoKSTU.png" alt="ВАК КР">
    </div>
    <div class="col-3 pe-3 pt-5">
      <img src="../../../../../../assets/images/edu.jpg" alt="ВАК КР">
    </div>
    <div class="col-3 pe-3 pt-5">
      <img src="../../../../../../assets/images/atom.png" alt="ВАК КР">
    </div>
    <div class="col-3 pe-3 pt-5">
      <img src="../../../../../../assets/images/vak.webp" alt="ВАК КР">
    </div>

  </div>
</div>
</body>

