<body class="background">
<div class="container pt-5">
  <h2 id="header-text" class="pt-5">Журнал Известия КГТУ</h2>
  <div class="row list-items">
    <div class="col-3 pe-3 pt-5">
      <h3>Контакты</h3>
      <div class="bar"></div>
      <ul class="mt-4">
        <li><a>+996 550 181 550</a></li>
        <li><a>0312 550 550</a></li>
        <li><a>konzerra@gmail.com</a></li>

      </ul>
    </div>
    <div class="col-3 pe-3 pt-5">
      <h3>Адрес</h3>
      <div class="bar"></div>
      <ul class="mt-4">
        <li><a>Проспект Чынгыза Айтматова, 66</a></li>
      </ul>
    </div>
    <div class="col-3 pe-3 pt-5">
      <h3>Дополнительно</h3>
      <div class="bar"></div>
      <ul class="mt-4">
        <li><a>О нас</a></li>
        <li><a>Этикет публикации</a></li>
        <li><a>Рабочая коллегия</a></li>
      </ul>
    </div>

  </div>
</div>
</body>

