
<body>
<div class="wrapper container pt-5">
  <h2 class="mt-5">Обновление категории</h2>
  <div class = "col-lg-6 col-md-offset-1 mb-5">
    <form class="needs-validation">

      <!-- Select input language   radio-buttons -->
      <label class = "mt-2">Введите данные на языках</label>
      <br>
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <div *ngFor="let lang of formGroup.requiredLangs" >
          <input
            [value]="lang"
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio{{lang}}"
            (change)="onLangChange(lang)"
            autocomplete="off"
            [checked]="selectedRadioButton===lang"
          >
          <label class="btn btn-outline-primary" for="btnradio{{lang}}">&emsp;{{lang}}&emsp;</label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="name"> Название </label>
        <input type="text"
               id="name"
               class="form-control"
               [formControl]="formGroup.name"
               placeholder="Введите название журнала"
               required autofocus="autofocus" />
        <div *ngIf="checkFormControl(formGroup.name)"
             class="alert-danger">

          <div *ngIf="formGroup.name.errors?.['required']">
            Введите название журнала
          </div>

        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="version"> Описание </label>
        <input type="text"
               id="version"
               class="form-control"
               [formControl]="formGroup.overview"
               placeholder="Введите версию"
               required autofocus="autofocus" />
        <div *ngIf="checkFormControl(formGroup.overview)"
             class="alert-danger">

          <div *ngIf="formGroup.overview.errors?.['required']">
            Введите версию
          </div>

        </div>
      </div>

      <div class="form-group">
        <div class="mt-4">
          <button type="button" name="login-submit" id="login-submit"
                  class="form-control btn btn-primary btn-sm w-25" (click)="onSubmit()" > Обновить </button>
          <button type = "button" class= "btn btn-outline-primary btn-sm w-25 ms-3"
                  (click)="onCancelClicked()">Отмена</button>
        </div>
      </div>

    </form>
  </div>
  <div class = "col-lg-6 col-md-offset-1 mb-5">
    <h3>Рецензенты</h3>
    <div  *ngFor="let i = index; let reviewer of queue">
      <label class="mt-2">{{i+1}}) {{reviewer.name}}</label>
      <br>
      <label>{{reviewer.email}}</label>
    </div>
  </div>
  <br>
</div>
</body>
