* {
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  width: 100% ;
  overflow: hidden;
  font-palette: light;
}
.container-c{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.remove-all-margin-padding{
  margin:0 !important;
  padding:0 !important;

}

section{
  display: flex;
  flex-direction: column;


  width: 100%;
  min-height: 100%;
  scroll-snap-align: start;
}




section#\#journal{
  background-color: #3e4242;

}

.center-c{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.magazine-image{
  max-height: 400px;
}



.row-c{
  display: flex;
  flex-wrap: wrap;
}

label{
  color: white;
}
h1{
  color: white;
}
h4{
  color: white;
}
h6{
  color: white;
}
