
<body>
<div class="wrapper container pt-5">
  <h2 class="mt-5">{{'reviewer_registration' | translate}}</h2>
  <div class = "col-lg-6 col-md-offset-1 mb-5">

    <form class="needs-validation">
      <div class="form-group">
        <label class="control-label" for="email"> {{'email' | translate}} </label>
        <input type="text"
               id="email"
               class="form-control"
               [formControl]="formGroup.email"
               placeholder="{{'enter_email' | translate}}"
               required autofocus="autofocus" />
        <div *ngIf="checkFormControl(formGroup.email)"
             class="alert-danger">

          <div *ngIf="formGroup.email.errors?.['required']">
            {{'enter_email' | translate}}
          </div>

        </div>
      </div>
      <!-- Category select -->
      <div class="form-group">
        <label class = "mt-2">{{'category' | translate}}</label>
        <select class="form-control"
                id="status"
                [formControl]="formGroup.categoryId"
                required
        >
          <option value="" disabled selected hidden>{{'select_category' | translate}}</option>
          <option *ngFor="let category of categoryList"
                  [value]="category.id">{{category.name}}
          </option>
        </select>
        <div *ngIf="checkFormControl(formGroup.categoryId)"
             class="alert-danger">

          <div *ngIf="formGroup.categoryId.errors?.['required']">
            {{'select_category' | translate}}
          </div>

        </div>
      </div>
      <div class="form-group">
        <div class="mt-4">
          <button type="button" name="login-submit" id="login-submit"
                  class="form-control btn btn-primary btn-sm w-25" (click)="onSubmit()" > {{'save' | translate}} </button>
          <button type = "button" class= "btn btn-outline-primary btn-sm w-25 ms-3"
                  (click)="onCancelClicked()">{{'cancel' | translate}}</button>
        </div>
      </div>
    </form>

  </div>
  <br>

</div>
</body>



