.journals-background{
  min-height: 100vh;
  background: rgba(58, 58, 58, 0.6)
  url("../../../../assets/images/magazines-on-table.jpg") no-repeat center center/cover ;
  background-blend-mode: multiply;
}

.panel{
  width: 100%;
  background-color: rgb(10, 98, 191,0.5);
  transition: 2s;
  border-radius: 3%;
}

.panel:hover{
  background: linear-gradient(
    45deg,
    rgba(29, 236, 197, 0.5),
    rgba(91, 14, 214, 0.5) 100%
  );
}
.link{
  color:white;
  text-decoration: underline;
  transition: 2s
}
.link:hover{
  color: #8b00d2;
}
h2{
  color: white;
}
h4{
  color: white;
}
h6{
  color: white;
}
label{
  color: white;
}
.pagination-c ::ng-deep .ngx-pagination .current {
  border-radius: 5%;
  background-color: rgb(10, 98, 191,0.5);
  transition: 1s
}
.pagination-c ::ng-deep .ngx-pagination .current:hover {
  background: linear-gradient(
    45deg,
    rgba(29, 236, 197, 0.5),
    rgba(91, 14, 214, 0.5) 100%
  );
}

img {
  max-width: 150px;
  height: auto;
}
.fit-content{
  width: fit-content;
}


