
.background{
  height: 100vh;
  width: 100%;


  background: rgba(58, 58, 58, 0.6)
  url("../../../../../../assets/images/kstu.jpg") no-repeat fixed center center/cover;
  background-blend-mode: multiply;
}
.title-center{
  text-align: center;
  padding-top: 40vh;
}
