<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
/>

<body>
<div class = "wrapper container pt-5">
  <h2 class="mt-5">{{"articles" | translate}}</h2>


  <table class="table " >
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">{{"name" | translate}}</th>
      <th scope="col">{{"category" | translate}}</th>
      <th scope="col">{{"reviewer" | translate}}</th>
      <th scope="col">{{"article_status" | translate}}</th>
      <th scope="col">{{"payment_status" | translate}}</th>
      <th scope="col">
        <button type="button" class="btn btn-primary btn-sm text-nowrap"
                (click)="onDistribute()"
        >
          <i class="bi bi-send"></i>
          {{"to_reviewers" | translate}}
        </button>
      </th>
    </tr>
    </thead>
    <tbody >
    <tr  *ngFor="let i = index; let model of modelPage.content | paginate :{
    itemsPerPage: 10,
    currentPage : modelPage.number+1,
    totalItems: modelPage.totalElements
    }">
      <th>{{model.id}}</th>
      <td>{{model.name}}</td>
      <td>{{model.category?.name || "нет"}}</td>
      <td>{{model.reviewer}}</td>
      <td>{{model.status}}</td>
      <td>Not_paid</td>
      <td class = "text-nowrap">
        <! –– edit button ––>
        <button type="button" class="btn btn-primary btn-sm me-2" (click)="onEdit(model)">
          <i class="bi bi-pencil"></i>
        </button>
        <! –– delete ––>
        <button type="button" class="btn btn-danger btn-sm" (click)="onDeleteClicked(model, i)">
          <i class="bi bi-trash text-light"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Pagination box -->
  <pagination-controls
    class="pagination "
    (pageChange)="onPageChange($event)"
  ></pagination-controls>

</div>
</body>



