
.navbar-color{
  background-color: rgb(10, 98, 191,0.6);
}
a{
  color: white !important;
}

.dropdown-item{
  color: black !important;
}

.lang-select{
  border: none;
  max-width: fit-content;
  background-color: transparent;
}
