

<body>
<div class="wrapper container pt-5">
  <h2 class="mt-5">{{'password_reset' | translate}}</h2>
  <div class = "col-lg-6 col-md-offset-1 mb-5">

    <form class="needs-validation">
      <div class="form-group">
        <label class="control-label" for="email"> {{'email' | translate}} </label>
        <input type="text"
               id="email"
               class="form-control"
               [formControl]="formGroup.email"
               placeholder="{{'enter_email' | translate}}"
               required autofocus="autofocus" />
        <div *ngIf="checkFormControl(formGroup.email)"
             class="alert-danger">

          <div *ngIf="formGroup.email.errors?.['required']">
            {{'enter_email' | translate}}
          </div>
          <div *ngIf="formGroup.email.errors?.['email']">
            {{'enter_email' | translate}}
          </div>

        </div>
      </div>

      <!-- pin input -->
      <div class="form-group">
        <label class="control-label" for="pin"> {{'pin' | translate}} </label>
        <div class="input-group">
          <input type="number"
                 id="pin"
                 class="form-control"
                 [formControl]="formGroup.pin"
                 placeholder="{{'enter_pin' | translate}}"
                 required autofocus="autofocus" />

          <button class="btn btn-primary btn-sm ms-2"
                  type="button"
                  id="button-delete-author"
                  (click)="sendPin()"
          >
            {{'send_pin' | translate}}
          </button>
        </div>
        <div *ngIf="checkFormControl(formGroup.pin)"
             class="alert-danger">

          <div *ngIf="formGroup.pin.errors?.['required']">
            {{'enter_pin' | translate}}
          </div>

        </div>

      </div>

      <!-- new password input -->
      <div class="form-group">
        <label class="control-label" for="new_password"> {{'new_password' | translate}} </label>
        <input type="password"
               id="new_password"
               class="form-control"
               [formControl]="formGroup.password"
               placeholder="{{'enter_new_password' | translate}}"
               required autofocus="autofocus" />
        <div *ngIf="checkFormControl(formGroup.password)"
             class="alert-danger">

          <div *ngIf="formGroup.password.errors?.['required']">
            {{'enter_password' | translate}}
          </div>
          <div *ngIf="formGroup.password.errors?.['minlength']">
            {{'password_min_length_error' | translate}}
          </div>

        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 mt-3">
            <input type="submit" name="login-submit" id="login-submit"
                   class="form-control btn btn-primary" value="{{'reset_password' | translate}}" />
          </div>
        </div>
      </div>
    </form>

    <div class="form-group mb-5">
      <span>{{'new_user' | translate}} <a routerLink="/register">{{'registration' | translate}}</a></span>
    </div>
  </div>
  <br>

</div>



</body>
