<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
  xmlns="http://www.w3.org/1999/html"/>

<body>
<div class="wrapper container pt-5">
  <h2 class="mt-5">{{"update_article" | translate}}</h2>
  <div class = "col-lg-6 col-md-offset-1">
    <form class="needs-validation" >

      <!-- Journal  -->
      <div class="form-group">
        <label class = "mt-2">{{"journal" | translate}}</label>
        <input class="form-control"
               id="journal"
               [value]="formGroup.journal.value?.name || 'не найдено'+' '+formGroup.journal.value?.version || ''"
               disabled
               required
        >
        <div *ngIf="checkFormControl(formGroup.journal)"
             class="alert-danger">

          <div *ngIf="formGroup.journal.errors?.['required']">
            {{"select_journal" | translate}}
          </div>

        </div>
      </div>

      <!-- Preferred category input -->
      <div class="form-group">
        <label class="control-label mt-2" for="preferredCategory"> {{"preferred_category" | translate}} </label>
        <textarea
          id="preferredCategory"
          class="form-control"
          disabled
          placeholder="{{'enter_preferred_category' | translate}}"
          [value]="formGroup.articleFull.preferredCategory"
          required autofocus="autofocus"
          rows="2"></textarea>
      </div>

      <!-- Total pages -->
      <div class="form-group">
        <label class="control-label mt-2" for="preferredCategory"> {{"pages_count" | translate}} </label>
        <input type="text"
               id="pages"
               class="form-control"
               disabled
               placeholder="{{'enter_pages_count' | translate}}"
               [value]="formGroup.articleFull.pages"
               required autofocus="autofocus"
        >
        <div *ngIf="checkFormControl(formGroup.pages)"
             class="alert-danger">
          <div *ngIf="formGroup.pages.errors?.['required']">
            {{'enter_pages_count' | translate}}
          </div>
        </div>
      </div>

      <!-- Status select -->
      <div class="form-group">
        <label class = "mt-2">{{"article_status" | translate}}</label>
        <select class="form-control"
                id="status"
                [formControl]="formGroup.status"
                [value]="formGroup.status.value"
                required
        >
          <option value="" disabled selected hidden>{{"select_status" | translate}}</option>
          <option *ngFor="let status of formGroup.articleStatuses"
                  [value]="status">{{status}}
          </option>
        </select>
        <div *ngIf="checkFormControl(formGroup.status)"
             class="alert-danger">

          <div *ngIf="formGroup.status.errors?.['required']">
            {{"select_status" | translate}}
          </div>

        </div>
      </div>

      <!-- Category select -->
      <div class="form-group">
        <label class = "mt-2">{{"category" | translate}}</label>
        <select class="form-control"
                [(ngModel)]="formGroup.category"
                name="category-select"
                (ngModelChange)="onCategoryChanged($event)"
                id="category"
                required
        >
          <option [ngValue]="null"
                  [selected]="formGroup.category == null"
          >{{"select_category" | translate}}</option>
          <option *ngFor="let category of categoryList"
                  [selected]="formGroup.category?.id == category.id"
                  [ngValue]="category">
            {{category.name}}
          </option>
        </select>
      </div>

      <label *ngIf="formGroup.articleFull.reviewerBlankDoc != null"
             class = "link mt-0"
      ><a href="{{FileApi.download+formGroup.articleFull.reviewerBlankDoc}}">
        {{"download_reviewer_form" | translate}}
      </a></label>

      <!-- Antiplagiat input -->
      <div class="form-group">
        <label class="control-label mt-2" for="antiplagiat"> {{"antiplagiat" | translate}} </label>
        <input type="text"
               id="antiplagiat"
               class="form-control"
               [formControl]="formGroup.antiplagiat"
               placeholder="{{'enter_antiplagiat' | translate}}"
               required autofocus="autofocus"
        />
        <div *ngIf="checkFormControl(formGroup.antiplagiat)"
             class="alert-danger">
          <div *ngIf="formGroup.antiplagiat.errors?.['required']">
            {{'enter_antiplagiat' | translate}}
          </div>
        </div>
      </div>

      <!-- antiplagiat pdf file select -->
      <label class = "mt-2">{{"select_antiplagiat_file" | translate}}</label>
      <br>
      <input
        class = "form-control"
        type="file"
        id="antiplagiatFile"
        accept=".pdf"
        (change)="onAntiplagiatFileChange($event)"
      />

      <label *ngIf="formGroup.articleFull.antiplagiatDoc!=null"
             class="">
        <a class="link" href="{{FileApi.download+formGroup.articleFull.antiplagiatDoc}}">
          {{"download_existing_version" | translate}}
        </a>
      </label>
      <br>

      <!-- pages in journal input -->
      <div class="form-group">
        <label class="control-label mt-2" for="pages_in_journal"> {{"pages_in_journal" | translate}} </label>
        <input type="text"
               id="pages_in_journal"
               class="form-control"
               [formControl]="formGroup.pagesInJournal"
               placeholder="{{'enter_pages_journal' | translate}}"
               required autofocus="autofocus"
        />
        <div *ngIf="checkFormControl(formGroup.pagesInJournal)"
             class="alert-danger">
          <div *ngIf="formGroup.pagesInJournal.errors?.['required']">
            {{'enter_article_title' | translate}}
          </div>
        </div>
      </div>



      <br>
      <!-- word file select -->
      <label class = "mt-2">{{"select_article_word_file" | translate}}</label>
      <br>
      <input
        class = "form-control"
        type="file"
        id="wordFile"
        accept=".doc, .docx"
        (change)="onWordFileChange($event)"
      />
      <label *ngIf="formGroup.articleFull.wordDoc!=null"
             class="">
        <a class="link" href="{{FileApi.download+formGroup.articleFull.wordDoc}}">
          {{"download_existing_version" | translate}}
        </a>
      </label>
      <br>

      <!-- pdf file select -->
      <label class = "mt-2">{{"select_pdf_file" | translate}}</label>
      <br>
      <input
        class = "form-control"
        type="file"
        id="pdfFile"
        accept=".pdf"
        (change)="onPdfFileChange($event)"
      />
      <label *ngIf="formGroup.articleFull.pdfDoc!=null"
             class=""
      >
        <a class="link" href="{{FileApi.download+formGroup.articleFull.pdfDoc}}">
          {{"download_existing_version" | translate}}
        </a>
      </label>
      <br>


      <!-- Select input language   radio-buttons -->
      <label class = "mt-2">{{"enter_data_in_languages" | translate}}</label>
      <br>
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <div *ngFor="let lang of formGroup.requiredLangs" >
          <input
            [value]="lang"
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio{{lang}}"
            (change)="onLangChange(lang)"
            autocomplete="off"
            [checked]="selectedRadioButton===lang"
          >
          <label class="btn btn-outline-primary" for="btnradio{{lang}}">&emsp;{{lang}}&emsp;</label>
        </div>
      </div>

      <!-- Article name input -->
      <div class="form-group">
        <label class="control-label mt-2" for="name"> {{"title" | translate}} </label>
        <textarea type="text"
                  id="name"
                  class="form-control"
                  [formControl]="formGroup.name"
                  placeholder="{{'enter_article_title' | translate}}"
                  required autofocus="autofocus"
                  rows="3"></textarea>
        <div *ngIf="checkFormControl(formGroup.name)"
             class="alert-danger">
          <div *ngIf="formGroup.name.errors?.['required']">
            {{'enter_article_title' | translate}}
          </div>
        </div>
      </div>

      <!-- Authors enter -->
      <label class="mt-2">{{"author(s)" | translate}}</label>
      <div *ngFor="let author of formGroup.authors; let i = index">
        <div class="input-group mt-2" >
          <input type="text"
                 id="author{{i+selectedRadioButton}}"
                 class="form-control"
                 [formControl]="author"
                 placeholder="{{'enter_author' | translate}}"
                 required autofocus="autofocus"
          >
          <button class="btn btn-danger btn-sm ms-2" type="button" id="button-delete-author" (click)="onAuthorRemove(i)">
            <i class="bi bi-trash text-light"></i>
          </button>

        </div>
        <div *ngIf="checkFormControl(formGroup.name)"
             class="alert-danger">
          <div *ngIf="author.errors?.['required']">
            {{'enter_author' | translate}}
          </div>
        </div>
      </div>
      <button class="btn btn-primary btn-sm mt-2" type="button" id="button-add-author" (click)="addAuthor()">
        {{'add_author' | translate}}
      </button>

      <!-- Article annotation input -->
      <div class="form-group">
        <label class="control-label mt-2" for="name"> {{'annotation_min_max' | translate}} </label>
        <textarea type="text"
                  id="annotation"
                  class="form-control"
                  [formControl]="formGroup.annotation"
                  placeholder="{{'enter_annotation' | translate}}"
                  required autofocus="autofocus"
                  rows="6"></textarea>
        <div *ngIf="checkFormControl(formGroup.annotation)"
             class="alert-danger">
          <div *ngIf="formGroup.annotation.errors?.['required']">
            {{'enter_annotation' | translate}}
          </div>
        </div>
      </div>

      <!-- Article tags input -->
      <div class="form-group">
        <label class="control-label mt-2" for="name"> {{'tags_min' | translate}} </label>
        <textarea type="text"
                  id="tags"
                  class="form-control"
                  [formControl]="formGroup.tags"
                  placeholder="{{'enter_tags' | translate}}"
                  required autofocus="autofocus"
                  rows="2"></textarea>
        <div *ngIf="checkFormControl(formGroup.tags)"
             class="alert-danger">
          <div *ngIf="formGroup.tags.errors?.['required']">
            {{'enter_tags' | translate}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="mt-4">
          <button type="button" name="login-submit" id="login-submit"
                  [disabled]="updateDisabled"
                  class="form-control btn btn-primary btn-sm w-25" (click)="onSubmit()" > {{'update' | translate}} </button>
          <button type = "button" class= "btn btn-outline-primary btn-sm w-25 ms-3"
                  (click)="onCancelClicked()">{{'cancel' | translate}}</button>
        </div>
      </div>
    </form>

    <div class="form-group mb-5 mt-2">
      <span>{{'any_questions' | translate}} <a routerLink="/user/handbook">{{'handbook' | translate}}</a></span>
    </div>
    <br>
  </div>
  <br>
</div>
</body>


