<link>
<footer class = "footer">
  <div class = "container">
    <div class = "row-c">
      <div class="col-sm-6 col-sm-offset-3 mt-3">
        <h4>Контакты</h4>
        <ul>
          <li><a href="#">550 181 550</a></li>
          <li><a href="#">konzerra@gmail.com</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-sm-offset-3 mt-3">
        <h4>Контакты</h4>
        <ul>
          <li><a href="#">550 181 550</a></li>
          <li><a href="#">konzerra@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>
