<body>
<div class="wrapper container pt-5">
  <h2 class="mt-5">{{'journal_update' | translate}}</h2>
  <div class = "col-lg-6 col-md-offset-1 mb-5">

    <form class="needs-validation">


      <!-- Status select -->
      <div class="form-group">
        <label class = "mt-2">{{'status' | translate}}</label>
        <select class="form-control"
                id="category"
                [formControl]="form.status"
                required
        >

          <option value="" disabled selected hidden>{{'select_status' | translate}}</option>
          <option *ngFor="let status of form.journalStatuses"
                  [selected]="form.status.value === status"
                  [value]="status">{{status}}
          </option>
        </select>
        <div *ngIf="checkFormControl(form.status)"
             class="alert-danger">

          <div *ngIf="form.status.errors?.['required']">
            {{'select_status' | translate}}
          </div>

        </div>
      </div>

      <!-- journal pdf file select -->
      <label class = "mt-2">{{"select_journal_pdf_file" | translate}}</label>
      <br>
      <input
        class = "form-control"
        type="file"
        id="journalFile"
        accept=".pdf"
        (change)="onJournalFileChange($event)"
      />
      <label *ngIf="form.journalFull.pdf" class="">
        <a class="link" href="{{FileApi.download + form.journalFull.pdf }}">
          {{"download_existing_version" | translate}}
        </a>
      </label>
      <br>

      <!-- picture file select -->
      <label class = "mt-2">{{"select_journal_image" | translate}}</label>
      <br>
      <input
        class = "form-control"
        type="file"
        id="journalImage"
        (change)="onImageChange($event)"
        accept=".jpeg"

      />
      <img
        *ngIf="form.localImageURL"
        [src]="form.localImageURL"
        class="mt-2"
        alt="...">
      <img
        *ngIf="form.localImageURL == null && isNotBlanc(form.journalFull.image)"
        [src]="FileApi.download + form.journalFull.image"
        class="mt-2"
        alt="...">
      <br>

      <!-- Select input language   radio-buttons -->
      <label class = "mt-2">{{'enter_data_in_languages' | translate}}</label>
      <br>
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <div *ngFor="let lang of form.requiredLangs" >
          <input
            [value]="lang"
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio{{lang}}"
            (change)="onLangChange(lang)"
            autocomplete="off"
            [checked]="selectedRadioButton===lang"
          >
          <label class="btn btn-outline-primary" for="btnradio{{lang}}">&emsp;{{lang}}&emsp;</label>
        </div>
      </div>

      <!--Journal name input -->
      <div class="form-group">
        <label class="control-label" for="name"> {{'name' | translate}} </label>
        <input type="text"
               id="name"
               class="form-control"
               [formControl]="form.name"
               placeholder="{{'enter_journal_title' | translate}}"
               required autofocus="autofocus" />
        <div *ngIf="checkFormControl(form.name)"
             class="alert-danger">

          <div *ngIf="form.name.errors?.['required']">
            {{'enter_journal_title' | translate}}
          </div>

        </div>
      </div>

      <!--Journal version -->
      <div class="form-group">
        <label class="control-label" for="version"> {{'version' | translate}} </label>
        <input type="text"
               id="version"
               class="form-control"
               [formControl]="form.version"
               placeholder="{{'enter_version' | translate}}"
               required autofocus="autofocus" />
        <div *ngIf="checkFormControl(form.version)"
             class="alert-danger">

          <div *ngIf="form.version.errors?.['required']">
            {{'enter_version' | translate}}
          </div>

        </div>
      </div>

      <div class="form-group">
        <div class="mt-4">
          <button type="button" name="journal-submit-update" id="journal-submit-update"
                  [disabled]="updateDisabled"
                  class="form-control btn btn-primary btn-sm w-25" (click)="onSubmit()">{{'update' | translate}} </button>
          <button type = "button" class= "btn btn-outline-primary btn-sm w-25 ms-3"
                  (click)="onCancelClicked()">{{'cancel' | translate}}</button>
        </div>
      </div>

    </form>

    <div class="link"
         (click)="onReportClicked()"
    >Посмотреть отчет</div>


  </div>
  <br>

</div>


</body>

