
<body>
<div class="wrapper container pt-5">
  <h2 class="mt-5">{{'page_update' | translate}}</h2>
  <div class = "col-lg-6 col-md-offset-1 mb-5">

    <form class="needs-validation">

      <!-- Markdown page -->
      <div class="form-group">
        <label class = "mt-2">{{'page_name' | translate}}</label>
        <input class="form-control"
               id="journal"
               [value]="formGroup.name.value"
               disabled
               required
        >
        <div *ngIf="checkFormControl(formGroup.name)"
             class="alert-danger">

          <div *ngIf="formGroup.name.errors?.['required']">
            {{'select_page' | translate}}
          </div>

        </div>
      </div>
      <!-- Select input language   radio-buttons -->
      <label class = "mt-2">{{'enter_data_in_languages' | translate}}</label>
      <br>
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <div *ngFor="let lang of formGroup.requiredLangs" >
          <input
            [value]="lang"
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio{{lang}}"
            (change)="onLangChange(lang)"
            autocomplete="off"
            [checked]="selectedRadioButton===lang"
          >
          <label class="btn btn-outline-primary" for="btnradio{{lang}}">&emsp;{{lang}}&emsp;</label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="markdownText"> Markdown </label>
        <textarea type="text"
                  id="markdownText"
                  class="form-control"
                  [formControl]="formGroup.source"
                  placeholder="{{'enter_markdown' | translate}}"
                  rows="10"
                  required autofocus="autofocus" ></textarea>
        <div *ngIf="checkFormControl(formGroup.source)"
             class="alert-danger">

          <div *ngIf="formGroup.source.errors?.['required']">
            {{'enter_markdown' | translate}}
          </div>

        </div>
      </div>


      <div class="form-group">
        <div class="mt-4">
          <button type="button" name="login-submit" id="login-submit"
                  class="form-control btn btn-primary btn-sm w-25" (click)="onSubmit()" > {{'update' | translate}} </button>
          <button type = "button" class= "btn btn-outline-primary btn-sm w-25 ms-3"
                  (click)="onCancelClicked()">{{'cancel' | translate}}</button>
        </div>
      </div>
    </form>
  </div>
  <br>
</div>
</body>

