
<body
  class = "wrapper pt-5 container"
>
<h4 class ="mt-5">{{'info_for_authors' | translate}}</h4>

<!-- Table of user articles  -->
<table class="table " >
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">{{'name' | translate}}</th>
    <th scope="col">{{'journal' | translate}}</th>
    <th scope="col">{{'category' | translate}}</th>
    <th scope="col">{{'article_status' | translate}}</th>
    <th scope="col">{{'price' | translate}}</th>
    <th scope="col">{{'actions' | translate}}</th>
  </tr>
  </thead>

  <tbody >
  <tr *ngFor="let model of modelList;">
    <th>{{model.id}}</th>
    <td>{{model.name}}</td>
    <td>{{model.journal.name +" "+ model.journal.version}}</td>
    <td>{{model.category?.name || ""}}</td>
    <td>{{model.status | translate}}</td>
    <td>{{model.price?.name || 'no_price'}}</td>
    <td class = "text-nowrap">
      <! –– edit button ––>
      <button *ngIf="model.price != null" type="button" class="btn btn-primary btn-sm me-2" (click)="onPay(model)">
        <i class="bi bi-cash"></i>
      </button>
    </td>
  </tr>

  </tbody>

</table>
<div *ngIf="modelList.length ==0" class="text-center">
  <i class="bi bi-search icon-not-found"></i>
  <h3>{{'not_found' | translate}}</h3>
</div>
</body>
